<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
    <h1>{% if post_machine %}
        Parcel. Post Machine: {{ post_machine.id }}
    {% elif user %}
        Parcel. User: {{ user.username }}
    {% endif %}
    </h1>
    <p>ID: {{ parcel.id }}</p>
    <p>Sender: {{ parcel.sender }}</p>
    <p>Recipient: {{ parcel.recipient }}</p>
    <p>Size: {{ parcel.size }}</p>
    <p>PostMachine: {{ parcel.post_machine_recipient.id }}</p>
    <p>Locker:
        {% if parcel.post_machine_locker is not None %}
            {{ parcel.post_machine_locker.id }}
        {% else %}
            On the way
        {% endif %}
    </p>
    <p>Send Date and Time: {{ parcel.send_date_time|date:"Y-m-d H:i:s" }}</p>
    <p>Status:
        {% if parcel.status %}
        Delivered {{ parcel.open_date_time|date:"Y-m-d H:i:s" }} 
        {% else %}
        {% if parcel.locker is None %}
        On the way
        {% else %}
        Waiting
        {% endif %}
        {% endif %}
    </p>
    {% if parcel.status == False and user %}
        {% if user.is_superuser and parcel.post_machine_locker is None %}
            <a href="/user/parcels/{{ parcel.id }}/select_locker/"><button>Select Locker</button></a>
        {% endif %}
        {% if parcel.post_machine_locker is not None %}
            <form action="/user/parcels/{{ parcel.id }}/get_parcel/" method="post">
                {% csrf_token %}
                <button type="submit">Get parcel</button>
            </form><br>
        {% endif %}
    {% endif %}
    <a href="{% if post_machine %}
                /post_machine/{{ post_machine.id}}/parcels/
            {% elif user %}
                /user/parcels/
            {% endif %}">
            <button>Back to
                {% if post_machine %}
                    Post machine {{ post_machine.address }} {{ post_machine.city }}
                {% elif user %}
                    User {{ user.username }}
                {% endif %}
                Parcels
            </button></a><br>
    <a href="/"><button>Home</button></a>
</body>
</html>
