<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Parcel</title>
</head>
<body>
    <h1>Edit Parcel</h1>
    <form action="/user/parcels/{{ parcel.id }}/edit/" method="post">
        {% csrf_token %}
        <label for="locker">Select Locker:</label>
        <select id="locker" name="locker" required>
            {% for locker in lockers %}
                <option value="{{ locker.id }}" {% if locker.id == parcel.post_machine_locker.id %}selected{% endif %}>{{ locker.id }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Save</button>
    </form><br>
    <a href="/"><button>Home</button></a>
</body>
</html>
