<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Locker</title>
</head>
<body>
    <h1>Select Locker in Post Machine {{ post_machine_id }}</h1>
    <p>ID: {{ parcel_id }}</p>
    <p>Sender: {{ sender }}</p>
    <p>Recipient: {{ recipient }}</p>
    <p>Size: {{ size }}</p>
    <p>Send Date and Time: {{ parcel.send_date_time|date:"Y-m-d H:i:s" }}</p>
    <form action="/user/parcels/{{parcel_id}}/select_locker/" method="post">
        {% csrf_token %}     
        <label for="locker">Select Locker:</label>
        <select id="locker" name="locker" required>
            {% for locker in lockers %}
                <option value="{{ locker.pk }}">Locker {{ locker.pk }}, Size: {{ locker.size }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Submit</button>
    </form><br>
    <a href="/"><button>Home</button></a>
</body>
</html>